:root {
    --dapps-color-gray: #CCDBDC;
    --dapps-color-white: #FAFAFA;
    --dapps-color-semi-light: #9AD1D4;
    --dapps-color-extra: #80CEC7;
    --dapps-color-primary: #007EA7;
    --dapps-color-secondary: #003249;
    --dapps-color-dark: #012231;


    --border-radious-units: 8px;

    --width-menu: 360px;
    --height-menu: 118px;

    --height-overflow: 70vh
}